version: '2.1'
services:
  kimai:
    image: maestroalubia/kimai
    ports:
      - ${EXTERNAL_PORT:-127.0.0.1:8080}:80
    restart: always
  db:
    image: mariadb:10.1
    environment:
      - MYSQL_DATABASE=kimai
      - MYSQL_USER=kimai
      - MYSQL_PASSWORD=kimai
      - MYSQL_ROOT_PASSWORD=fKc8dlZqhNOucISGiZA6
    volumes:
      - ${DB_VOLUME:-./kimai-database}:/var/lib/mysql
    restart: always
